/ app/views/admin/posts/_table.html.slim
= render "admin/shared/table", collection: @posts, pagy: @pagy do |post|
  .flex.gap-2
    = link_to edit_admin_post_path(post),
      class: 'text-indigo-600 hover:text-indigo-900',
      data: { turbo_frame: "modal" } do
      span Edit
    = button_to admin_post_path(post),
      method: :delete,
      class: 'text-red-600 hover:text-red-900',
      data: { confirm: 'Are you sure?' } do
      span Delete
/ .overflow-x-auto
/   table.min-w-full.divide-y.divide-zinc-300
/     thead.bg-zinc-50
/       tr
/         - Post.display_columns.each do |key, config|
/           th.px-6.py-3.text-left.text-xs.font-medium.text-zinc-500.uppercase.tracking-wider
/             .flex.items-center.gap-2
/               = config[:label]
/               - if config[:sortable]
/                 .flex.flex-col.items-center.justify-center
/                   = link_to admin_posts_path(sort_column: key, sort_direction: 'asc', search: params[:search]),
/                     class: "text-zinc-400 hover:text-zinc-600 text-[10px]",
/                     data: { turbo_frame: "posts_table" } do
/                     | ▲
/                   = link_to admin_posts_path(sort_column: key, sort_direction: 'desc', search: params[:search]),
/                     class: "text-zinc-400 hover:text-zinc-600 text-[10px]",
/                     data: { turbo_frame: "posts_table" } do
/                     | ▼
/         th.px-6.py-3.text-left.text-xs.font-medium.text-zinc-500.uppercase.tracking-wider Actions

/     tbody.divide-y.divide-zinc-200.bg-white
/       - if posts.any?
/         - posts.each do |post|
/           tr.hover:bg-zinc-50
/             - Post.display_columns.each do |key, config|
/               td.px-6.py-4.whitespace-nowrap.text-sm.text-zinc-900 = config[:format].call(post)
/             td.px-6.py-4.whitespace-nowrap.text-sm.text-zinc-500
/               .flex.gap-2
/                 = link_to edit_admin_post_path(post),
/                   class: 'text-indigo-600 hover:text-indigo-900',
/                   data: { turbo_frame: "modal" } do
/                   span Edit
/                 = button_to admin_post_path(post),
/                   method: :delete,
/                   class: 'text-red-600 hover:text-red-900',
/                   data: { confirm: 'Are you sure?' } do
/                   span Delete
/       - else
/         tr
/           td.col-span-5.px-6.py-4.text-sm.text-zinc-500 No posts found.
/   .px-4.py-3.bg-white.border-t.border-zinc-200.sm:px-6
/     == pagy_nav(@pagy, anchor_string: 'data-turbo-action="advance"')